version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PORT: 3000
        VITE_BASE_URL: ${VITE_BASE_URL:-https://edlas.lolskins.gg/api}
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    restart: always
