version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PORT: 3000
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_OPTIONS=--max-old-space-size=2048
      - VITE_BASE_URL=https://edlas.lolskins.gg/api/
    deploy:
      resources:
        limits:
          memory: 4g
    restart: always
